@let isLoggedInValue = authService.isLoggedIn();
@let userNameValue = authService.userName();
@let userEmailValue = authService.userEmail();
@let userPictureValue = authService.userPicture();

<si-side-panel
  #sidePanel
  class="d-flex si-layout-fixed-height h-100"
  size="extended"
  mode="scroll"
  disableBackdrop
>
  <div class="has-navbar-fixed-top si-layout-fixed-height h-100">
    <si-application-header>
      <si-header-brand>
        <a routerLink="/"><h1 class="application-name">OsteoHub</h1></a>
      </si-header-brand>
      <si-header-actions>
        <button
          type="button"
          si-header-action-item
          aria-label="Einstellungen"
          [icon]="icons.elementSettings"
          [siHeaderDropdownTriggerFor]="settings"
        ></button>
        @if (isLoggedInValue) {
          <button
            si-header-account-item
            type="button"
            referrerPolicy="no-referrer"
            [aria-label]="userNameValue"
            [name]="userNameValue"
            [imageUrl]="userPictureValue"
            [siHeaderDropdownTriggerFor]="account"
          ></button>
        }
      </si-header-actions>
    </si-application-header>

    <main class="si-layout-fixed-height si-layout-main-padding">
      <router-outlet />
    </main>
  </div>
</si-side-panel>

<ng-template #settings>
  <si-header-dropdown>
    <div class="mx-5 my-4">
      <div class="fw-bold">Settings</div>
    </div>
    <div class="dropdown-divider"></div>
    @let darkThemeValue = darkTheme();
    <button
      si-header-dropdown-item
      type="button"
      [icon]="darkThemeValue ? icons.elementSun : icons.elementEconomy"
      (click)="toggleTheme()"
    >
      {{ darkThemeValue ? 'Light Mode' : 'Dark Mode' }}
    </button>
    @if (!isLoggedInValue) {
      <div class="dropdown-divider"></div>
      <button si-header-dropdown-item type="button" [icon]="icons.elementLogin" (click)="login()">
        Admin Login
      </button>
    }
  </si-header-dropdown>
</ng-template>

<ng-template #account>
  <si-header-dropdown>
    <si-account-details
      company="OsteoHub"
      userRole="Admin"
      [name]="userNameValue"
      [email]="userEmailValue"
    />
    <div class="dropdown-divider"></div>
    <button si-header-dropdown-item type="button" [icon]="icons.elementLogout" (click)="logout()">
      Logout
    </button>
  </si-header-dropdown>
</ng-template>
