<div class="d-flex flex-column gap-8">
  <div class="gap-2">
    <h5><span id="body-region">Körperregion</span></h5>
    <si-select
      class="w-100"
      multi
      labelledby="body-region"
      placeholder="Optionen auswählen"
      [options]="bodyRegionsOptions"
      [(value)]="bodyRegionsSelected"
      (valueChange)="filterOverview()"
    />
  </div>
  <div class="gap-2">
    <h5><span id="body-system">Körpersysteme</span></h5>
    <si-select
      class="w-100"
      multi
      labelledby="body-system"
      placeholder="Optionen auswählen"
      [options]="bodySystemsOptions"
      [(value)]="bodySystemsSelected"
      (valueChange)="filterOverview()"
    />
  </div>
  <div class="gap-2">
    <h5><span id="vindicate-category">VINDICATE Kategorie</span></h5>
    <si-select
      class="w-100"
      multi
      labelledby="vindicate-category"
      placeholder="Optionen auswählen"
      [options]="vindicateCategoriesOptions"
      [(value)]="vindicateCategoriesSelected"
      (valueChange)="filterOverview()"
    />
  </div>
  <div class="gap-2">
    <h5><span id="osteopathic-model">Osteopathisches Modell</span></h5>
    <si-select
      class="w-100"
      multi
      labelledby="osteopathic-model"
      placeholder="Optionen auswählen"
      [options]="osteopathicModelsOptions"
      [(value)]="osteopathicModelsSelected"
      (valueChange)="filterOverview()"
    />
  </div>
  <div class="gap-2">
    <h5><span id="symptom">Symptome</span></h5>
    <si-select
      class="w-100"
      multi
      labelledby="symptom"
      placeholder="Optionen auswählen"
      [options]="symptomsOptions"
      [(value)]="symptomsSelected"
      (valueChange)="filterOverview()"
    />
  </div>
</div>
