<div class="d-flex gap-4">
  <si-search-bar
    class="flex-grow-1"
    placeholder="Suchen..."
    [formControl]="searchValue"
    [debounceTime]="400"
    [showIcon]="true"
  />
  <button
    type="button"
    class="btn btn-icon btn-tertiary"
    aria-label="filter"
    (click)="openSidePanelFilter()"
  >
    <si-icon [icon]="icons.elementFilter" />
  </button>
</div>
<div class="mt-8 row g-5">
  @for (disease of diseases(); track disease.id) {
    <app-disease-card
      class="col-12"
      [class]="sidePanelOpen ? 'col-xl-6' : 'col-md-6 col-lg-4'"
      [disease]="disease"
      (click)="openSidePanelDiseaseInformation(disease)"
    />
  } @empty {
    <si-empty-state
      heading="Keine Krankheiten verfügbar"
      content="Es sind keine Krankheiten verfügbar. Bitte versuchen Sie es später erneut."
      [icon]="icons.elementInfo"
    >
      <p>
        <button type="button" class="btn btn-primary" (click)="loadDiseases()">Erneut laden</button>
      </p>
    </si-empty-state>
  }
</div>

<ng-template #filter cdkPortal>
  <si-side-panel-content heading="Filter" displayMode="overlay">
    <div class="p-6 w-100">
      <app-filter-panel (filtersChanged)="filterOverview()" />
    </div>
  </si-side-panel-content>
</ng-template>

<ng-template #diseaseInformation cdkPortal>
  <si-side-panel-content heading="Krankheitsinformationen" displayMode="overlay">
    <div class="p-6">
      @let selectedDiseaseValue = selectedDisease();
      @if (selectedDiseaseValue) {
        <app-disease-details [disease]="selectedDiseaseValue" />
      } @else {
        <si-empty-state
          heading="Krankheit nicht gefunden"
          content="Die ausgewählte Krankheit konnte nicht gefunden werden. Bitte versuchen Sie es erneut."
          [icon]="icons.elementInfo"
        >
          <p>
            <button type="button" class="btn btn-primary" (click)="loadDiseases()">
              Erneut laden
            </button>
          </p>
        </si-empty-state>
      }
    </div>
  </si-side-panel-content>
</ng-template>
