:host {
  display: flex;
}

:host si-card {
  display: flex;
  width: 100%;
}

:host [body] {
  width: 100%;
}

.badge {
  margin-inline: 0;
  max-inline-size: none;
}

.skeleton-heading {
  block-size: 1.25rem;
}

.skeleton-subheading {
  block-size: 1rem;
}

.skeleton-description {
  block-size: 1.1428571429em;
}

.skeleton-badge {
  border-radius: 50rem;
  block-size: 1.5rem;
  inline-size: 8rem;
}

.disease-card-name {
  max-inline-size: calc(100% - 40px);
}
