@let diseaseValue = disease();
@if (diseaseValue) {
  <h2 class="mb-2">{{ diseaseValue.name }}</h2>
  <p class="text-secondary mb-4">ICD: {{ diseaseValue.icd }}</p>
  <p class="text-secondary mb-4">
    @for (bodyRegion of diseaseValue.bodyRegions; track bodyRegion.id) {
      {{ bodyRegion.name }}{{ $last ? '' : ',' }}
    }
    &bull;
    @for (bodySystem of diseaseValue.bodySystems; track bodySystem.id) {
      {{ bodySystem.name }}{{ $last ? '' : ',' }}
    }
  </p>
  <div class="d-flex flex-wrap gap-4 my-4">
    @for (osteopathicModel of diseaseValue.osteopathicModels; track osteopathicModel.id) {
      <span class="badge bg-success-emphasis">{{ osteopathicModel.name }}</span>
    }
    @for (vindicateCategory of diseaseValue.vindicateCategories; track vindicateCategory.id) {
      <span class="badge bg-info-emphasis">{{ vindicateCategory.name }}</span>
    }
  </div>
  <p>{{ diseaseValue.description }}</p>
  <hr />
  <div class="d-flex flex-column gap-5 pb-6">
    <div>
      <p class="detail-heading">Ätiologie</p>
      <p>{{ diseaseValue.etiology }}</p>
    </div>
    <div>
      <p class="detail-heading">Pathogenese</p>
      <p>{{ diseaseValue.pathogenesis }}</p>
    </div>
    <div>
      <p class="detail-heading">Häufigkeit</p>
      <p>{{ diseaseValue.frequency }}</p>
    </div>
    <hr />
    <div>
      <p class="detail-heading">Symptome</p>
      <div class="d-flex flex-wrap gap-4 my-4 mb-6">
        @for (symptom of diseaseValue.symptoms; track $index) {
          <span class="badge bg-secondary">{{ symptom.name }}</span>
        }
      </div>
    </div>
    <div>
      <p class="detail-heading">Red Flags</p>
      <p>{{ diseaseValue.redFlags }}</p>
    </div>
    <div>
      <p class="detail-heading">Diagnostik</p>
      <p>{{ diseaseValue.diagnostics }}</p>
    </div>
    <div>
      <p class="detail-heading">Prognose</p>
      <p>{{ diseaseValue.prognosis }}</p>
    </div>
    <hr />
    <div>
      <p class="detail-heading">Therapie</p>
      <p>{{ diseaseValue.therapy }}</p>
    </div>
    <hr />
    <div>
      <p class="detail-heading">Osteopathische Behandlung</p>
      <p>{{ diseaseValue.osteopathicTreatment }}</p>
    </div>
  </div>
} @else {
  <p>Keine Krankheit ausgewählt.</p>
}
